@import "./utils/variables";
@import "./components/btn";
@import "./base/reset";
@import "./utils/animations";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

/*------style principaux de la page------*/
h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
  
    &.shrikhand {
      font-family: Shrikhand, sans-serif;
      font-weight: normal;
      padding: 20px 0 20px 20px;
    }
  }
  
  h2 {
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
  }
  
  h3 {
    font-size: 14px;
    font-weight: bold;
  }
  /*------header section------*/
  header {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    max-width: 1440px;
    padding-top: 10px;
    position: relative;
  
  .search_bar {
      background-color: darken($grey-color, 5);
      margin-bottom: 20px;
      width: 375px;
    }
  
  .search_location {
      border-top: 2px solid $border-contrast;
      display: flex;  
  
    input {
      background-color: transparent;
      border: 0;
      padding: 15px 10px;
      width: 100%;
    }
  
  .icon_wrapper {
      padding: 8px 10px;
    }
  
  .input_field {
        flex: 1 0 0;
    }
  }  
  
  .back_btn {
    display: block;
    left: 20px;
    position: absolute;
    top: 30px;
  }
  
  .logo {
    margin: auto;
  }
  
  .cover_img {
    height: 270px;
    width: 100%;
    z-index: -1;
  
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }  
}

.search_location {
  &[type='text'] {

    &::placeholder {
      color: $text-grey;
      font-size: 16px;
      font-weight: bolder;
    }
  }
}

/*------main section------*/
main {
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.reserve {
    flex: 0 0 100%;
    margin: 0 -15px;
    padding: 30px 10px;
    text-align: center;
  
    h1 {
      margin: 15px;
    }
  
    h2 {
      color: $text-grey-light;  
      font-size: 18px;
      font-weight: normal;
      margin: 20px 15px;
    }
  
    hgroup {
      margin-bottom: 30px;
    }

    .btn_1 {
      margin-bottom: 30px;
    }
}

aside {
    flex: 0 0 100%;
    padding: 30px 10px;
  
    h2 {
      margin-bottom: 10px;
      margin-left: 5px;
      width: 100%;
    }

    .steps {
        align-content: space-between;
        display: flex;
        flex-direction: column;
        flex-flow: nowrap;
        padding: 15px;
        position: relative;
        width: 100%;
      }

      .step_button {
        background-color: $grey-color;
        border-radius: 30px;
        box-shadow: $btn1-shadow;
        flex: 1 0 auto;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 25px 15px;
        position: relative;

        .circle_number {
          background-color: $primary;
          border-radius: 100%;
          color: $white-color;
          display: block;
          font-weight: bold;
          height: 25px;
          left: -12px;
          line-height: 1.67;
          position: absolute;
          text-align: center;
          width: 25px;
        }
        .icon {
          display: inline-block;
          margin: 0 15px;
          min-width: 30px;

          i {
          font-size: 20px;
        }
      }  

        .step_text {
          font-weight: bold;
        }  
  
        &:hover {
        background-color: lighten($primary, 35%);
        box-shadow: 2px 2px 10px 2px lighten($primary, 30%);

      .icon {
        color: $primary;
      }
    }    
  }
}
.home {
  main {
    >section {
      flex: 1 0 0;
    }
    
    .card {
      flex: 1 0 0;
    }
  }
}
/*-----cards------*/
.cards {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  height: 100%;
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;

  h2 {
    padding: 15px 0 15px 15px;
    width: 100%;
  }
}
/*------card css------*/
.card {
  background-color: $white-color;
  box-shadow: $card-shadow;
  display: flex;
  flex: 1 0 25%;
  flex-direction: column;
  margin: 15px;
  min-width: 0;
  position: relative;
  word-wrap: break-word;

  h3 {
    font-weight: bold;
    font-size: 16px;
  }

  h4 {
    font-weight: normal;
  }
}

/*------page menu------*/

.menu {
  main {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -40px;
    z-index: 999;
  }

  .cards {
    background-color: transparent;
    flex-flow: column wrap;
    margin-left: 0;
    margin-right: 0;
  }

  .restaurant_title {
    position: relative;
    width: 100%;
  }

  .like {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .title {
    font-size: 18px;
    font-weight: normal;
    padding-left: 10px;
    width: 100%;

    &::after {
      border-bottom: 2px solid $tertiary;
      content: '';
      display: block;
      padding-top: 3px;
      width: 40px;
    }
  }
}

/*------card img------*/

.card_img {
  border-radius: 15px;

    .card_choice {
      position: relative;
    }  

    img {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      max-height: 200px;
      object-fit: cover;
      width: 100%;
    }

    .card_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    width: 100%;
    
    .card_caption {
      flex: 0 0 85%;
    }
  }
}  
   
.card_menu {
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;

  hgroup {
    flex: 1;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h3 {
    font-size: 18px;
    margin: 0 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h4 {
    color: $text-grey;
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .check_box {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    display: none;
    position: relative;
  }

  .price {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: flex-end;
    padding-right: 10px;
    text-align: right;
  }
}  
  
/*-----bas de page-----*/
footer {
  background-color: $text-grey;
  color: $white-color;
  padding: 20px;
  text-align: center;

  a {
    color: $white-color;
  }

  .footer_container {
    margin: auto;
    max-width: 100%;
  }

  .footer_logo {
    img {
      filter: invert(1);
    }
  }

  .footer_column {
    display: flex;
    flex-direction: column;
  }

  .without_icon {
    flex: 1 0 50%;
  }

  .with_icon {
    i {
      min-width: 30px;
    }
  }
}  


